*{
	margin: 0;
	font-family: Arial;
	border: border-box;
}

/** 1st box (amazon logo) **/

.navbar{
	height: 60px;
	background-color: #0f1111;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.nav-logo{
	height: 50px;
	width: 100px;
}
.amazon-logo{
	background-image: url(amazon_logo.png);
	background-size: cover;
	height: 50px;
	width: 100%;
}
.border{
	border: 2px solid transparent;
}
.border:hover {
	border: 2px solid white;
}
.nav-address{

}

/** 2nd box (location) **/ 

.add-icon{
	display: flex;
}

.deliver{
	color: #CCCCCC;
	font-size: 0.9rem;
	margin-left: 15px;

}
.location{
	color: white;
	font-size: 1rem;
	font-weight: bold;
	margin-left: 3px;
}

/**3rd box (search bar) **/

.nav-search{
	display: flex;
	background-color: pink;
	height: 40px;
	width: 820px;
	border-radius: 4px;
	justify-content: space-evenly;
}
.nav-search:hover{
	border: 2px solid darkorange ;
}
.search-select{
	display: ;
	background-color: #f3f3f3;
	width: 50px;
	text-align: center;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px ;
	border: none;


}
.search-input{
	width: 100%;
	font-size: 1rem;
	border: none;

}
.search-icon{
	width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	background-color: #febd60;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px ;
	color: #0f1111;
}

/**4th box (flag)**/

.country{
	height: 30px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: none;

}
.flag-icon{
	height: 25px;
	width: 28px;
	background-color: none;
	padding-right: 3.5px;
}
 /**5th box (signin)**/

 .nav-signin{
 	height: 40px;
 	width: 135px;
 }
 .nav-small-font{
 	font-size: 0.8rem;
 }
 .nav-font{
 	font-size: 0.9rem;
 	font-weight: 600;
 }
  /** 6th box (return)**/
  .return{
  	height: 40px;
  	width: 70px;
  }


 /** 7th box (cart)**/

 .nav-cart{
 	height: 40px;
 	width: 80px;
 	padding-top: 20px;
 }
 .nav-cart-logo{
 	font-size: 30px;


 }
 .nav-cart-font{
 	font-size:1rem;
 	font-weight: bold;
 	text-align: bottom;
 }

 /** Panel **/

  /** 1st box **/
 
 .panel{
 	height: 40px;
 	background-color: #222f3d;
 	display: flex;
 	color: white;
 	align-items: center;
 	justify-content: space-evenly;
 }

  /** 2nd box **/
  .panel-ops{
  	width: 70%;
  }
 .panel-ops p{
 	display: inline;
 	padding-right: 15px;
 	font-size: 0.9rem;
 }
 .electro{
 	font-weight: 600;
 	font-size: 1rem; 	
 }

 /** Hero Section**/

 .hero-section{
 	background-image: url(hero_image.jpg);
 	height: 350px;
 	background-size: cover;
 	display: flex;
 	justify-content: center;
 	align-items: flex-end;

 }
 .hero-msg{
 	background-color: white;
 	color: black;
 	height: 40px;
 	width: 90%;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	margin-bottom: 20px;
 }
 .hero-link{
 	color: #007185;
 	text-decoration: none;
 }
 /** Box- Section **/

 .shop-section{
 	height: 950px;
 	display: flex;
 	justify-content: space-evenly;
 	background-color: #e2e7e6;
 	flex-wrap: wrap;

 }
 .box{
 	height: 400px;
 	width: 23%;
 	padding: 20px 0px 15px;
 }
 .box-content{
 	background-color: white;
 	padding-top: 10px;
 	padding-right: 20px;
 	padding-left: 20px;
 	padding-bottom: 8px;
 }
 .box-img{
  	height: 350px;
  	margin-top: 10px;
  	margin-bottom: 15px;
  	background-size: cover;

 }

 /** footer panel **/
 .footer{
 	margin-top: 15px;
 }

 .foot-panel1{
 	background-color: #37475a;
 	color: white;
 	height: 50px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	font-size: 17px;
 }
 .foot-panel2{
 	background-color: #222f3d;
 	color: white;
 	height: 300px;
 	display: flex;
 	justify-content: space-evenly;
 }
 ul{
 	margin-top: 20px;
 }
 ul a{
 	display: block;
 	font-size: 15px;
 	margin-top: 10px;
 	color: #dddddd;
 }

 /** Foot panel 3 **/

 .foot-panel3{
 	background-color: #222f3d;
 	color: white;
 	border-top: 0.1px solid white;
 	height: 70px;
 	display: flex;
 	justify-content: center;
 	align-items: center;

 }
 .logo-amazon{
 	background-image: url(amazon_logo.png);
 	background-size: cover;
 	height: 50px;
 	width: 100px;
 	margin-right: 150px;
 }
 .server{
 	color: #dddddd;
 	border: 1.2px solid #dddddd;
 	padding: 5px 20px 5px 5px;
 	display: flex;
 	align-items: center;
 	height: 20px;
 	margin-right: 30px;
 	font-size: 15px;
 }

 /** Foot panel-4 **/

 .foot-panel4{
 	height: 80px;
 	color: white;
 	background-color: #0f1111;
 	font-size: 0.8rem;
 	text-align: center;
 }
 .pages{
 	padding-top: 25px;
 }
 .copyright{
 	padding-top: 5px;
 }

